body, ul, li, p {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-size: 1.2rem;
    color: black;
}

.header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em;
    border-bottom: 1px solid #3d3d3d;
}

.logo {
    padding-bottom: 0em;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 0.4em;
}

.menu li a {
    display: block;
    padding: 0.2em
}